<section id="agile">
    <div class="space"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Certificate in Agile Project Management</h1>
                <p>Australian Institute of Management, completed January 2025.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="img-fluid bg-primary" src="..\assets\img\agile.jpg">
            </div>
        </div>

    </div>
</section>
