<section id="header">
    <div class="container bg-header">
        <div class="row">
            <div class="col-lg-2 text-center"><span class="helper"></span><img
                    class="rounded rounded-circle py-4 img-fluid" src="..\assets\img\thumb.jpg">
            </div>
            <div class="col-lg-10 text-light">
                <div class="row name">
                    <div class="col d-flex justify-content-between align-items-center">
                        <h2>HANSDEEP SINGH - (Hans)</h2>
                        <a href="http://www.hansdeep.com/" target="_blank">For Developers&nbsp;<i
                                class="fas fa-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="row bg-statement bdr-left">
                    <div class="col">
                        <h3>EXPERIENCED .NET UX UI FULL STACK DEVELOPER</h3>
                    </div>
                </div>
                <div class="row boxes  text-center">
                    <div class="col bg-1"><i class="fab icos fa-windows"></i>
                        <p>.NET 6</p>
                    </div>
                    <div class="col bg-2"><i class="fab icos fa-angular"></i>
                        <p>ANGULAR 13+</p>
                    </div>
                    <div class="col bg-3"><i class="fab icos fa-html5"></i>
                        <p>HTML5,CSS3</p>
                    </div>
                    <div class="col bg-4"><i class="fab icos fa-bootstrap"></i>
                        <p>BOOTSTRAP</p>
                    </div>
                    <div class="col bg-5"><i class="fab icos fa-js-square"></i>
                        <p>JAVASCRIPT</p>
                    </div>
                    <div class="col bg-6"><i class="fas icos fa-database"></i>
                        <p>SQL SERVER</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>