<section id="jarvis">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Optus Retail Track</h1>
                <p>Optus Retail Track is another one of the produch which is developed and used by the field reps,
                    targetting optus customers only.</p>
                <p>It has a login and the information in terms of filling up questionair, uploading photos, getting
                    location of where the field rep is. All the data is sent to RESTful API and saved on the servers.
                    There is also a provision of offline submission of form. Where the data is saved on the device,
                    which is sent to RESTful API once the internet connection is established.</p>
            </div>
        </div>
        <div class="row py-3  text-center">
            <div class="col-md"><img class="img-fluid bg-primary" src="..\assets\img\op1.png"></div>
            <div class="col-md"><img class="img-fluid" src="..\assets\img\op2.png"></div>
            <div class="col-md"><img class="img-fluid" src="..\assets\img\op3.png"></div>
        </div>
    </div>

</section>