<section id="body">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col">
                        <h2>ABOUT ME</h2>
                    </div>
                </div>

                <div class="row mycard bdr-4   mt-5 statement  ml-4">
                    <div class="col">
                        <h4> INNOVATIVE .NET DEVELOPER, SELF DEPENDENT, TEAM PLAYER,
                            SELF
                            LEARNER.</h4>
                        <p class="font-weight-bold">Years of experience in Web - Angular, MVC, ASP.net, .NET Framework,
                            Android, IOS
                            development. Strong hold on current technologies, up for grabs into upcoming ones. </p>
                    </div>
                </div>
                <div class="row  mt-5">
                    <div class="col">
                        <h3>Portfolio - Full Stack .Net Developer</h3>
                    </div>
                </div>

                <div class="row mt-4 mycard">
                    <div class="col">
                        <p> Development in general has been at the top of my interest. Over years of working with the
                            technology, my skill set have changed learning new technologies and remembering old ones
                            which
                            have gone past. </p>
                        <p> This sense of old and new technologies with the urge to learn the new upcoming ones makes me
                            an
                            evergreen developer, who can handle existing applications and develop new ones from scratch.
                        </p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col">
                        <h3>Work Experience</h3>
                    </div>
                </div>


                <div class="row mt-4 mycard">
                    <div class="col-lg-3 text-center">
                        <a class="dropdown-item waves-light" href="https://www.computershare.com/au" target="_blank">
                            <img class="img-fluid text-center" src="..\assets\img\computershare.png"></a>

                        <h5>ComputerShare</h5>
                        <p class="fw-bold">Senior Developer</p>
                        <p class="font-weight-bold">May 2020 - Present</p>
                    </div>
                    <div class="col-lg-9">
                        <ul>

                            <li>Working at ComputerShare’s Utility department.
                            </li>
                            <li>Collaborating with team of Senior developers and building solutions for our
                                clients.</li>
                            <li>Ongoing discussion with business analyst to keep with the scope of projects. </li>
                            <li>Our systems provide billing services for Energy Industry (Gas, Electricity and
                                Water) for clients such as <b>SimplyEnergy, EnergyAustralia, UnityWater, HunterWater
                                    +
                                    (25 more)</b></li>
                            <li>Ours is a Progressive Web App built on Angular 13, .net 6, C# </li>
                            <li>Knowledge of modern web development tools · Expert in SQL queries for update
                                inserts
                                and
                                for
                                generation of reports.</li>
                            <li>We also built apps for Our Client’s Field Sales which generally includes bill
                                compare. </li>
                            <li>Continuous Integration and Deployment pipelines on Azure.</li>
                            <li>Ongoing support and monitoring of our systems.</li>
                            <li>We use our own package libraries.
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="row mt-4 mycard">
                    <div class="col-lg-3 text-center">
                        <a class="dropdown-item waves-light" href="https://www.cpm-aus.com.au/" target="_blank">
                            <img class="image-fluid" src="../assets/img/cpm.png"></a>
                        <h5>CPM Australia</h5>
                        <p class="fw-bold">UX/UI Full Stack Developer</p>
                        <p class="font-weight-bold">Jan 2019 - April 2020</p>
                    </div>
                    <div class="col-lg-9">
                        <ul>
                            <li>Working alongside with an established team of developers, interaction with
                                marketing
                                teams,
                                graphic designers and business analytics team.</li>
                            <li>Ongoing monitoring of servers, reporting and working along with Infrastructure
                                team.
                            </li>
                            <li>Ongoing development for existing and upcoming products.</li>
                            <li>Currently Working for clients <b>LOreal, Optus, American Express,AMEX Singapore,
                                    Subaru,
                                    AGL
                                    Gas, Saputo</b></li>
                            <li>Front end revamp of web portals and CRMs · Development of Mobile (iOS/Android)
                                Apps
                                with
                                the
                                use of Apache Cordova tools</li>
                            <li>Expertise in web development using MVC and ASP.net, JavaScript/jQuery and other
                                JavaScript
                                Libraries</li>
                            <li>Knowledge of modern web development tools · Expert in SQL queries for update
                                inserts
                                and
                                for
                                generation of reports.</li>
                            <li>Providing ongoing support to the AMEX sales representatives.</li>
                            <li>New projects transitioning in to Angular and A.I development.</li>
                            <li>Development of prototype UI / Projects to present to the stake holders for
                                future
                                clients.
                            </li>
                            <li>Relational database designs, new and upgrading existing databases.</li>
                        </ul>
                    </div>
                </div>


                <div class="row mt-4 mycard">
                    <div class="col-lg-3  text-center">
                        <h5>ExpertSystems Ltd - New Zealand</h5>
                        <p class="fw-bold">UX/UI Full Stack Developer</p>
                        <p class="font-weight-bold">Sept 2013 - Jul 2018</p>
                    </div>
                    <div class="col-lg-9">
                        <ul>
                            <li>Development of various websites projects hosted on windows hosting servers.</li>
                            <li>Responsible for client interactions, people management, including management of
                                timelines
                                for roll outs, and providing them with the performance feedback.</li>
                            <li>Implementing security role-based authorization and authentication.</li>
                            <li>Development using both waterfall and agile development.</li>
                            <li>Web design from scratch. Use of Bootstrap and HTML5/CSS3 tools for fast pace
                                development.
                            </li>
                            <li>Development of exclusive client specific projects with the use of JS libraries such
                                as
                                Interact.js and Three.js, CSS3, HTML5</li>
                            <li>Graphic designing of Jerseys, Logos, Business cards, Posters, Wine bottle branding,
                                Commercial advertisement designing for Magazine.</li>
                            <li>3-D Web-GL development to render Architecture Design.</li>
                            <li>Software development for outlined work, maintain and monitor software functionality,
                                design
                                and architecture.</li>
                        </ul>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <h5>Website development/maintenance with logo/apparel design for the following: - (NZ)</h5>
                    </div>
                </div>
                <div class="row mt-4 mycard">
                    <div class="col-lg-3">
                        <h5>Team Sports Ltd</h5>
                        <p class="font-weight-bold">Feb 2010 - Sept 2010</p>
                    </div>
                    <div class="col-lg-9">
                        <ul>
                            <li> Team Sports is a Licensed distributor for Adidas gear and other sports goods.
                                Designed
                                posters, Caps and maintaining company website </li>
                        </ul>
                    </div>
                </div>

                <div class="row mt-4 mycard">
                    <div class="col-lg-3">
                        <h5>Silver Fern Sports Ltd</h5>
                        <p class="font-weight-bold">Jan 2009 to April 2009</p>
                    </div>
                    <div class="col-lg-9">
                        <ul>
                            <li> Apparel design, website maintenance.</li>
                        </ul>
                    </div>
                </div>

                <div class="row mt-4 mycard">
                    <div class="col-lg-3">
                        <h5>My Biz Websites Ltd</h5>
                        <p class="font-weight-bold">Feb 2008 to Jan 2009</p>
                    </div>
                    <div class="col-lg-9">
                        <ul>
                            <li> Sports club websites development and Logo design</li>
                        </ul>
                    </div>
                </div>

                <div class="row mt-4 mycard">
                    <div class="col-lg-3">
                        <h5>BiscoPro Ltd</h5>
                        <p class="font-weight-bold">Jul 2007 to Oct 2007</p>
                    </div>
                    <div class="col-lg-9">
                        <ul>
                            <li> Developed a plugin for Google SketchUp software using Ruby on rails programming
                                language
                                and Google SketchUp API.</li>
                        </ul>
                    </div>
                </div>

                <div class="row mt-3 ">
                    <div class="col">
                        <h3>Education</h3>
                    </div>
                </div>
                <div class="row mt-4 mycard">
                    <div class="col">
                        <ul>
                            <li>Batchelor of Computer Science and Engineering</li>
                            <li>Graduate Diploma in Information Technology</li>
                            <li>Currently in Second Semester of Cyber Security at HolmesGlen</li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <h3>Achievements</h3>
                    </div>
                </div>
                <div class="row mt-4 mycard">
                    <div class="col">
                        <ul>
                            <li>Award for all round performace and general team spirit.</li>
                            <li>Appreciations from clients</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row ml-1 ">
                    <div class="col d-flex justify-content-end">
                        <h2>CONTACT INFO</h2>
                    </div>
                </div>
                <div class="row ml-1">
                    <div class="col-3 font-weight-bold">Address</div>
                    <div class="col-9">South East, Melbourne</div>
                </div>
                <div class="row ml-1">
                    <div class="col-3 font-weight-bold">Phone</div>
                    <div class="col-9">042-66-76567</div>
                </div>
                <div class="row ml-1">
                    <div class="col-3 font-weight-bold">Email</div>
                    <div class="col-9">hansdeep.singh@hotmail.com</div>
                </div>
                <div class="row ml-1 mt-5">
                    <div class="col">

                        <h2 class="text-center">Full Stack Toolbox</h2>

                        <app-skillchart></app-skillchart>
                    </div>
                </div>
                <!-- To Do -->
                <!-- <div class="row mt-4">
                    <div class="col">
                        <h4 class="text-center">Angular/ .NET CORE Dashboards</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col  text-center ng-them"><a class="pl-2 bg-2 d-block pr-2 rounded " href="/polaris"><i
                                class="fab icos fa-angular"></i>
                            <p class=" ml-2 mt-3">ng-Polaris - DYNAMIC DASHBOARD</p>
                        </a></div>
                </div>
                <div class="row mt-2">
                    <div class="col  text-center ng-them"><a class="pl-2 bg-3 d-block pr-2 rounded " href="/sigma"><i
                                class="fab icos fa-angular"></i>
                            <p class=" ml-2 mt-3">ng-Sigma - DYNAMIC DASHBOARD</p>
                        </a></div>
                </div> -->
                <div class="row mt-4">
                    <div class="col">
                        <h4 class="text-center">BootStrap/ .NET MVC Themes</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col  text-center ng-them"><a class=" pl-2 bg-1 d-block pr-2 rounded "
                            href="http://hansdeep-001-site25.htempurl.com" target="_blank"><i
                                class="fab icos fa-bootstrap"></i>
                            <p class=" ml-2 mt-3">GYM - MVC BootStrap Theme</p>
                        </a></div>
                </div>
                <div class="row mt-2">
                    <div class="col  text-center ng-them"><a class="pl-2 bg-5 d-block pr-2 rounded "
                            href="http://hansdeep-001-site26.htempurl.com" target="_blank"><i
                                class="fab icos fa-bootstrap"></i>
                            <p class=" ml-2 mt-3">FASHION STORE - MVC with Login</p>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
</section>