<section id="body">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col">
                        <h2>ABOUT ME</h2>
                    </div>
                </div>
                <!-- About Me -->
                <div class="row mycard bdr-4   mt-5 statement  ml-4">
                    <div class="col">
                        <h4> INNOVATIVE TEAM LEADER, &nbsp;&nbsp;FULL STACK (.NET/ANGULAR) &nbsp;&nbsp;
                            DEVELOPER,&nbsp;&nbsp; SELF DEPENDENT,&nbsp;&nbsp; SELF LEARNER.</h4>
                        <p class="font-weight-bold">Over 4 years in Leadership and Over 14 Years of experience in
                            Software Development including Web -
                            Angular, MVC, ASP.net, .NET Framework, Cloud - AZURE(DevOps), AZURE(Portal),
                            Android, IOS
                            development. Strong hold on current technologies, up for grabs into upcoming ones. </p>
                        <hr>
                        <p class="text-center fw-bold">Team management - Strategic planning - Decision making -
                            Problem solving
                        </p>
                        <hr>
                    </div>
                </div>
                <div class="row  mt-5">
                    <div class="col">
                        <h3>Portfolio - Lead, Full Stack .Net Developer</h3>
                    </div>
                </div>
                <!-- Portfolio -->
                <div class="row mt-4 mycard">
                    <div class="col">
                        <p> Development in general has been at the top of my interest. Over years of working with the
                            technology, my skill set have changed learning new technologies and remembering old ones
                            which
                            have gone past. </p>
                        <p> This sense of old and new technologies with the urge to learn the new upcoming ones makes me
                            an
                            evergreen developer, who can handle existing applications and develop new ones from scratch.
                        </p>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col">
                        <h3>Work Experience</h3>
                    </div>
                </div>
                <!-- Independent Schools Victoria -->
                <div class="row mt-4 mycard">
                    <div class="col-lg-3 text-center">
                        <a class="dropdown-item waves-light" href="https://is.vic.edu.au/" target="_blank">
                            <svg width="100%" viewBox="0 0 444 444" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M379.782 0.290512C378.508 -0.275692 377.045 0.00741003 376.054 0.951084L301.976 73.095H62.66C61.7635 73.095 60.867 73.4725 60.2064 74.0858L0.990858 133.301C0.37747 133.962 0 134.858 0 135.755V451.556C0 452.452 0.37747 453.349 0.990858 453.962C1.65143 454.623 2.50074 455 3.39723 455H324.53C325.426 455 326.323 454.623 326.936 453.962L380.867 400.125C381.528 399.465 381.905 398.615 381.905 397.719V3.45182C381.858 2.03631 381.056 0.809533 379.782 0.290512ZM302.495 370.871C302.495 371.39 302.07 371.815 301.598 371.815H148.251C143.863 371.815 143.722 371.909 140.749 374.929L82.6187 433.343C80.0236 435.938 76.4848 436.598 76.4848 430.936V151.609C76.4848 151.09 76.8623 150.712 77.3813 150.712H301.551C302.07 150.712 302.448 151.09 302.448 151.609V370.871H302.495Z"
                                    fill="#D01F3C"></path>
                            </svg>
                        </a>
                        <h5>Independent Schools Victoria</h5>
                        <p class="fw-bold">Lead, Software Development</p>
                        <p class="font-weight-bold">October 2022 - Present</p>
                    </div>
                    <div class="col-lg-9">
                        <ul>
                            <li>I am proud to have deployed our new isEducation platform (last year) for Independent
                                Schools Victoria which is built on latest technologies listed in my skill set. Taking
                                lead on project development.

                                <a class="dropdown-item waves-light" href="https://education.is.vic.edu.au/"
                                    target="_blank"><b>https://education.is.vic.edu.au</b>
                                </a>
                            </li>
                            <li>Development of in-house Angular TypeScript Libraries and .net nuget packages.</li>
                            <li>Managing team of developers and cloud engineers for building solutions for our
                                schools/organisations.</li>
                            <li>Interactions with Stakeholder and Non-Technical people on regular bases.</li>
                            <li>Certificate in Agile Project Management.</li>
                            <li>Taking lead on transitioning isEducation Suite from OLD MVC "Monolithic architecture"
                                into NEW <b>Angular PWA-Responsive (latest)</b>
                                front end and <b>.net (latest) API.</b> "Micro-services architecture"
                            </li>
                            <li>Taking lead on setting up Eco-System (Environments - Dev/UAT/Staging/Production) for
                                isEducation
                                suite applications.
                            </li>

                            <li>Setting up environment also includes creating Resources in Azure Portal and deploying
                                website on relevant URLs.
                            </li>
                            <li>isEducation suite is built upon Azure B2C Tenant<b> (Single Sign-in)</b>, OAuth2.0
                                Authentication/Authorization.
                                Where isEducation acts as an OAuth 2.0 server. Suite apps act as client applications.
                            </li>

                            <li>
                                Building pipelines per isEducation Suite App per environment for <b>CI/CD</b>
                            </li>
                            <li>Weekly scrum for monitoring on-going development and adhering to task deadlines. </li>

                            <li>isEducation suite includes various products such as <b>isLearn, isAnalyse,
                                    isConnect,isComply, isCommunicate, isRecruit, isPodcast, isArtwork</b> </li>
                            <li>Successful API Integration with 3rd party tool eg.<b>(Qlik Sense Analytics, Microsoft
                                    365
                                    CRM, Instructure)</b> </li>
                            <li>Maintenance of OLD isEducation suite built on Blazor Web Assembly from Microsoft and
                                .net Framework. </li>
                            <li>Development and version release of Xamarin Android Apps <b>(isCommunicate) </b>on Google
                                Play
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- Computer Share -->
                <div class="row mt-4 mycard">
                    <div class="col-lg-3 text-center">
                        <a class="dropdown-item waves-light" href="https://www.computershare.com/au" target="_blank">
                            <img class="img-fluid text-center" src="..\assets\img\computershare.png"></a>

                        <h5>ComputerShare</h5>
                        <p class="fw-bold">Senior Developer (Full stack)</p>
                        <p class="font-weight-bold">May 2020 - Sept 2022</p>
                    </div>
                    <div class="col-lg-9">
                        <ul>

                            <li>Working at ComputerShare’s Utility department.
                            </li>
                            <li>Collaborating with team of Senior developers and Solutions architect building solutions
                                for our
                                clients.</li>
                            <li>Ongoing discussion with business analyst to keep with the scope of projects. </li>
                            <li>Our systems provide billing services for Energy Industry (Gas, Electricity and
                                Water) for clients such as <b>SimplyEnergy, EnergyAustralia, UnityWater, HunterWater
                                    +
                                    (13 more)</b></li>
                            <li>Ours is a Progressive Web App built on Angular 13, .net 6, C# </li>
                            <li>Azure DevOps experience, building and running CI/CD pipelines</li>
                            <li>We also built apps for Our Client’s Field Sales which generally includes bill
                                compare. </li>
                            <li>Troubleshooting and fixing bugs.</li>
                            <li>Ongoing support and monitoring of our systems.</li>
                            <li>We use our own package libraries.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-4 mycard">
                    <div class="col-lg-3 text-center">
                        <a class="dropdown-item waves-light" href="https://www.cpm-aus.com.au/" target="_blank">
                            <img class="image-fluid" src="../assets/img/cpm.png"></a>
                        <h5>CPM Australia</h5>
                        <p class="fw-bold">UX/UI Full Stack Developer</p>
                        <p class="font-weight-bold">Jan 2019 - April 2020</p>
                    </div>
                    <div class="col-lg-9">
                        <ul>
                            <li>Working alongside with an established team of developers, interaction with
                                marketing
                                teams,
                                graphic designers and business analytics team.</li>
                            <li>Developed CRM to manage in-bound calls for in-house LOreal CRM portal.</li>
                            <li>Ongoing monitoring of servers, reporting and working along with Infrastructure
                                team.
                            </li>
                            <li>Ongoing development for existing and upcoming products.</li>
                            <li>Currently Working for clients <b>LOreal, Optus, American Express,AMEX Singapore,
                                    Subaru,
                                    AGL
                                    Gas, Saputo</b></li>
                            <li>Front end revamp of web portals and CRMs · Development of Mobile (iOS/Android)
                                Apps
                                with
                                the
                                use of Apache Cordova tools</li>
                            <li>Expertise in web development using MVC and ASP.net, JavaScript/jQuery and other
                                JavaScript
                                Libraries</li>
                            <li>Knowledge of modern web development tools · Expert in SQL queries for update
                                inserts
                                and
                                for
                                generation of reports.</li>
                            <li>Providing ongoing support to the AMEX sales representatives.</li>
                            <li>New projects transitioning in to Angular and A.I development.</li>
                            <li>Development of prototype UI / Projects to present to the stake holders for
                                future
                                clients.
                            </li>
                            <li>Relational database designs, new and upgrading existing databases.</li>
                        </ul>
                    </div>
                </div>


                <div class="row mt-4 mycard">
                    <div class="col-lg-3  text-center">
                        <h5>ExpertSystems Ltd - New Zealand</h5>
                        <p class="fw-bold">UX/UI Full Stack Developer</p>
                        <p class="font-weight-bold">Sept 2013 - Jul 2018</p>
                    </div>
                    <div class="col-lg-9">
                        <ul>
                            <li>Development of various websites projects hosted on windows hosting servers.</li>
                            <li>Responsible for client interactions, people management, including management of
                                timelines
                                for roll outs, and providing them with the performance feedback.</li>
                            <li>Implementing security role-based authorization and authentication.</li>
                            <li>Development using both waterfall and agile development.</li>
                            <li>Web design from scratch. Use of Bootstrap and HTML5/CSS3 tools for fast pace
                                development.
                            </li>
                            <li>Development of exclusive client specific projects with the use of JS libraries such
                                as
                                Interact.js and Three.js, CSS3, HTML5</li>
                            <li>Graphic designing of Jerseys, Logos, Business cards, Posters, Wine bottle branding,
                                Commercial advertisement designing for Magazine.</li>
                            <li>3-D Web-GL development to render Architecture Design.</li>
                            <li>Software development for outlined work, maintain and monitor software functionality,
                                design
                                and architecture.</li>
                        </ul>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <h5 class="text-wrap">Website development/maintenance with logo/apparel design for the
                            following: - (NZ)</h5>
                    </div>
                </div>
                <div class="row mt-4 mycard">
                    <div class="col-lg-3">
                        <h5>Team Sports Ltd</h5>
                        <p class="font-weight-bold">Feb 2010 - Sept 2010</p>
                    </div>
                    <div class="col-lg-9">
                        <ul>
                            <li> Team Sports is a Licensed distributor for Adidas gear and other sports goods.
                                Designed
                                posters, Caps and maintaining company website </li>
                        </ul>
                    </div>
                </div>

                <div class="row mt-4 mycard">
                    <div class="col-lg-3">
                        <h5>Silver Fern Sports Ltd</h5>
                        <p class="font-weight-bold">Jan 2009 to April 2009</p>
                    </div>
                    <div class="col-lg-9">
                        <ul>
                            <li> Apparel design, website maintenance.</li>
                        </ul>
                    </div>
                </div>

                <div class="row mt-4 mycard">
                    <div class="col-lg-3">
                        <h5>My Biz Websites Ltd</h5>
                        <p class="font-weight-bold">Feb 2008 to Jan 2009</p>
                    </div>
                    <div class="col-lg-9">
                        <ul>
                            <li> Sports club websites development and Logo design</li>
                        </ul>
                    </div>
                </div>

                <div class="row mt-4 mycard">
                    <div class="col-lg-3">
                        <h5>BiscoPro Ltd</h5>
                        <p class="font-weight-bold">Jul 2007 to Oct 2007</p>
                    </div>
                    <div class="col-lg-9">
                        <ul>
                            <li> Developed a plugin for Google SketchUp software using Ruby on rails programming
                                language
                                and Google SketchUp API.</li>
                        </ul>
                    </div>
                </div>

                <div class="row mt-3 ">
                    <div class="col">
                        <h3>Education</h3>
                    </div>
                </div>
                <div class="row mt-4 mycard">
                    <div class="col">
                        <ul>
                            <li>Bachelor of Computer Science and Engineering</li>
                            <li>Graduate Diploma in Information Technology</li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <h3>Achievements</h3>
                    </div>
                </div>
                <div class="row mt-4 mycard">
                    <div class="col">
                        <ul>
                            <li>Award for all round performace and general team spirit.</li>
                            <li>Appreciations from clients</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row ml-1 ">
                    <div class="col d-flex justify-content-end">
                        <h2>CONTACT INFO</h2>
                    </div>
                </div>
                <div class="row ml-1">
                    <div class="col-3 font-weight-bold">Address</div>
                    <div class="col-9">South East, Melbourne</div>
                </div>
                <div class="row ml-1">
                    <div class="col-3 font-weight-bold">Phone</div>
                    <div class="col-9">042-66-76567</div>
                </div>
                <div class="row ml-1 ">
                    <div class="col-3 font-weight-bold">Email</div>
                    <div class="col-9 text-wrap"><a class="link-colour"
                            href="mailto:hansdeep.singh@hotmail.com">hansdeep.singh&#64;hotmail.com</a>.</div>
                </div>
                <div class="row m-1">
                    <div class="col mycard">
                        <h2 class="text-center">Full Stack Toolbox</h2>
                        <app-skillchart></app-skillchart>
                    </div>
                </div>
                <!-- To Do -->
                <!-- <div class="row mt-4">
                    <div class="col">
                        <h4 class="text-center">Angular/ .NET CORE Dashboards</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col  text-center ng-them"><a class="pl-2 bg-2 d-block pr-2 rounded " href="/polaris"><i
                                class="fab icos fa-angular"></i>
                            <p class=" ml-2 mt-3">ng-Polaris - DYNAMIC DASHBOARD</p>
                        </a></div>
                </div>
                <div class="row mt-2">
                    <div class="col  text-center ng-them"><a class="pl-2 bg-3 d-block pr-2 rounded " href="/sigma"><i
                                class="fab icos fa-angular"></i>
                            <p class=" ml-2 mt-3">ng-Sigma - DYNAMIC DASHBOARD</p>
                        </a></div>
                </div> -->
                <div class="row mt-4">
                    <div class="col">
                        <h4 class="text-center">BootStrap/ .NET MVC Themes</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col  text-center ng-them"><a class=" pl-2 bg-1 d-block pr-2 rounded "
                            href="http://hansdeep-001-site25.htempurl.com" target="_blank"><i
                                class="fab icos fa-bootstrap"></i>
                            <p class=" ml-2 mt-3">GYM - MVC BootStrap Theme</p>
                        </a></div>
                </div>
                <div class="row mt-2">
                    <div class="col  text-center ng-them"><a class="pl-2 bg-5 d-block pr-2 rounded "
                            href="http://hansdeep-001-site26.htempurl.com" target="_blank"><i
                                class="fab icos fa-bootstrap"></i>
                            <p class=" ml-2 mt-3">FASHION STORE - MVC with Login</p>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
</section>