<section id="award">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Award for all round performance</h1>
                <p>A project was developed before the designated timeline. My contribution was recoganised.</p>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="img-fluid bg-primary" src="..\assets\img\award.jpg">
            </div>
        </div>

    </div>
</section>