<section id="btech">
    <div class="space"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Batchelor in Computer Science</h1>
                <p>Four year batchelor degree focused on Computer programming and development.</p>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="img-fluid bg-primary" src="..\assets\img\btech.jpg">
            </div>
        </div>

    </div>
</section>