<section id="gdit">
    <div class="space"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Graduate diploma in Information Technology</h1>
                <p>After work experience, moved to New Zealand and pursue further education.</p>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="img-fluid bg-primary" src="..\assets\img\gdit.jpg">
            </div>
        </div>

    </div>
</section>