<section id="jarvis">
    <div class="space"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Jarvis Field</h1>
                <p>Jarvis field is an Andriod /IOS phone (device) app. It is used by our field reps for their
                    visitation.</p>
                <p>This app has a login and the information in terms of filling up questionair, uploading photos,
                    getting location of where the field rep is. All the data is sent to RESTful API and saved on the
                    servers.</p>
            </div>
        </div>
        <div class="row py-3  text-center">
            <div class="col-md"><img class="img-fluid bg-primary" src="..\assets\img\jf1.png"></div>
            <div class="col-md"><img class="img-fluid" src="..\assets\img\jf2.png"></div>
            <div class="col-md"><img class="img-fluid" src="..\assets\img\jf3.png"></div>
        </div>
        <div class="row py-3  text-center">
            <div class="col-md"><img class="img-fluid bg-primary" src="..\assets\img\jf4.png"></div>
            <div class="col-md"><img class="img-fluid" src="..\assets\img\jf5.png"></div>
            <div class="col-md"><img class="img-fluid" src="..\assets\img\jf6.png"></div>
        </div>
        <div class="row py-3  text-center">
            <div class="col-md"><img class="img-fluid bg-primary" src="..\assets\img\jf7.png"></div>
            <div class="col-md"><img class="img-fluid" src="..\assets\img\jf8.png"></div>
            <div class="col-md"><img class="img-fluid" src="..\assets\img\jf9.png"></div>
        </div>
    </div>

</section>